{% extends 'base.html.twig' %}
{% block stylesheets %}<link rel="stylesheet" href="./assets/css/accueil.css">
{% endblock %}
{% block title %}Accueil
{% endblock %}

{% block body %}

	<nav class="navbar navbar-expand-lg navbar-light bg-light p-3">
		<a class="navbar-brand" href="{{path('app_page_accueil')}}">ZELP</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav">
				{% if app.user %}
					<li class="nav-item">
						<a class="nav-link" href="{{path('app_logout')}}">Deconnexion</a>
					</li>
				{% else %}

					<li class="nav-item">
						<a class="nav-link" href="{{path('app_login')}}">Connexion</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{path('app_register')}}">Inscription</a>
					</li>

				{% endif %}
			</ul>
		</div>
	</nav>
	<h1>Restaurants</h1>
	<div class="container_restaurant">
		{% for restaurant in restaurants %}
			<a class="nav-link" href="/restaurant/{{restaurant.id}}">
				<div class="container_carte">
					<span>{{ restaurant.name }}</span>
					<span>{{ restaurant.description }}</span>
					<span>{{ restaurant.ville }}</span>
					<span>{{ restaurant.user }}</span>
				</div>
			</a>
		{% else %}

			<span>no records found</span>

		{% endfor %}


	{% endblock %}
